<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="LMS Application">

	<!-- 1st Test Module -->
	<test thread-count="5" name="PackagesTest">
		<packages>
			<package name="o_pack" />
			<package name="k_pack" />
			<package name="t_pack" />
		</packages>
	</test> <!-- Test -->

	<!-- 2nd Test Module -->
	<!--<test thread-count="5" name="Admin">
		<classes>
			<class name="k_pack.TestEight" />
			<methods>
				<include name="testEight.*" />
			</methods>
		</classes>
	</test> -->
	
	<!-- Test -->
</suite> <!-- Suite -->
